body::-webkit-scrollbar{
    width: 7px;
    background-color: #f33a3b;
}

body::-webkit-scrollbar-track {
    background: #F7EDE3; 
}

body::-webkit-scrollbar-thumb {
    background-color: #f33a3b;  
    border-radius: 20px;      
    border: 10px solid #f33a3b;  
}

body {
    background-color: #F7EDE3 !important;
    display: grid;
    width: 100%;
    height: 100vh;
    justify-items: center;
    align-items: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    list-style: none;
    outline: none;
    border: none;
    box-sizing: border-box;
}

.Tdisplay {
    display: grid;
}

#login {
    width: 25vw;
    height: 75vh;
    border: 1px solid;
    border-radius: 5px;

    display: grid;
    justify-items: center;
    grid-template-rows: 2fr 5vh 1fr;

}

#login img {
    grid-row: 1;
    max-width: 100%;
    height: 40vh;
}

#login h2 {
    grid-row: 2;
    font-family: 'HanleyPro-Sans';
    max-width: 200px;
    font-size: larger;
}

#login-caixa {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    grid-row: 3;
    width: 100%;
}

#login input {
    background-color: transparent;
}

#btnEnviar {
    width: 15.6vw !important;
    margin-bottom: 1vh;
    margin-top: 3vh;
}


/* Botões */

section {
    align-self: baseline;
}

.btn-outline-primary {
    color: black !important;
    border-color: black !important;
}

