body::-webkit-scrollbar{
    width: 7px;
    background-color: #f33a3b;
}

body::-webkit-scrollbar-track {
    background: #F7EDE3; 
}

body::-webkit-scrollbar-thumb {
    background-color: #f33a3b;  
    border-radius: 20px;      
    border: 10px solid #f33a3b;  
}

body {
    display: grid;
    grid-template-rows: 15vh 1fr 1fr 1fr 1fr ;
    background-color: #F7EDE3;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    list-style: none;
    outline: none;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
}

.Tdisplay {
    display: grid;
}

#menu {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    grid-template-rows: 15vh;
    align-items: center;
    margin-bottom: 7vh;
    grid-row: 1;
}

#logo {
    margin-left: 20%;
    height: 12vh;
}

#menu-btn {
    display: inline-grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    color: #03A3A6;
}

#menu-icon {
    grid-column-start: 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: -1%;
    justify-items: center;
}

#menu-icon li img {
    width: 30px;
    height: 30px;
    
}

#banner {
    grid-row: 2;
    overflow: hidden;
    width: 100%;
    height: 70vh;
    object-fit: cover;
    display: grid;
    grid-template-rows: 23.25vh 23.25vh 23.25vh;
}

#banner > h1 {
    grid-row: 2;
    z-index: 2;
    align-self: center;
    justify-self: center;

    font-family: 'HanleyPro-Sans';
    font-size: 10vh;
}

#vid {
    height: 104vh;
}

#capa {
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.5;
}

/*Fim do banner | Inicio do form*/

form {
    grid-row: 3;
    width: 100%;
    height: 60vh;
    margin-bottom: 12vh;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;

    background-color: #1F1D1D;
    color: white;
    font-family: 'HanleyPro-Sans';
}

form > h2 {
    grid-row: 1;
    font-size: 7vh;
    margin-left: 2vw;
}

#e-mail {
    grid-row: 2;
    margin-left: 2vw;
}

#numero {
    grid-row: 3;
    margin-left: 2vw;
}

/*Fim do form | Inicio do maps*/

#localizacao {
    grid-row: 4;

    display: grid;
    grid-auto-rows: 15vh 1fr;
    justify-items: center;
}

#localizacao > h1 {
    font-family: 'HanleyPro-Sans';
}

#maps {
    grid-row: 2;
    width: 100%;
    height: 100%;
    display: contents;
}
/*Fim do maps | Inicio das redes*/

#social {
    grid-row: 5;
    width: 100%;
    margin-bottom: 10%;

    display: grid;
    grid-template-rows: 15vh 1fr;

}

#social > h1 {
    font-family: 'HanleyPro-Sans';
    grid-row: 1;
    justify-self: center;
}

#grid-rede {
    grid-row: 2;

    display: grid;
    grid-template-columns: 1fr 5% 1fr 5% 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    row-gap: 10%;

}

#F {grid-column: 1; grid-row: 1;}
#I {grid-column: 3; grid-row: 1;}
#W {grid-column: 5; grid-row: 1;}
#T {grid-column: 2; grid-row: 2;}
#G {grid-column: 4; grid-row: 2;}

/*Fim das redes | Inicio do rodapé*/

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 100px 1.5fr;
    grid-template-rows: 10vh 23vh 10vh;
    align-content: center;
    
    background-color: #1F1D1D;
    color: white;
    width: 100%;
    height: 42vh;
    grid-row: 6;
}

footer > div > ul {
    list-style: none;
}

.quebra {
    margin-left: -1vw;
    margin-bottom: 5px;
}

#listas {
    display: grid;
    grid-column: 1 / span 3;
    grid-row: 2;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    font-family: 'HanleyPro-Sans';
}

#lista1 {
    grid-column: 1;
    grid-row: 1;

}

#lista2 {
    grid-column: 2;
    grid-row: 1;
}

#lista3 {
    grid-column: 3;
    grid-row: 1;
}

#copyright {
    grid-column: 1 / span 5;
    grid-row: 3;
    align-self: flex-end;
    justify-self: center;
    margin-bottom: 1vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#rede-icon {
    grid-column: 5;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "face insta tk"
                         "tw whats pin";
}

#face {grid-area: face;}
#insta {grid-area: insta;}
#tk {grid-area: tk;}
#tw {grid-area: tw;}
#whats {grid-area: whats;}
#pin {grid-area: pin;}
.rede-icon-tamanho {
    width: 70px;
    height: 70px;
}