#moldura {
    overflow: hidden;
    width: 101vw;
    height: 62vh;
    margin-top: -1vw;
    margin-left: -1.14vh;
    box-sizing: border-box;
    /* border: 5px solid; */
    display: block;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.843012) 25.47%, rgba(0, 0, 0, 0.243144) 54.91%);
}